nav {
	background-image: linear-gradient(to right, #2D0575, #4207AF);
	padding: 15px;
}

nav a {
	color: #fff;
}

nav .col-lg-offset-3 a {
	font-size: 160%;
}

nav a:link {
	font-size: 160%;
	text-decoration: none;
}

nav a.col-xs-offset-5:hover {
	color: #fff;
	text-decoration: none;
}

nav a.hidden-sm:hover {
	font-size: 180%;
}

nav a:visited {
	color: #fff;
	text-decoration: none;
}

nav a:active {
	color: #fff;
	text-decoration: none;
}

nav img {
	height: 50px;
}

.montserrat-md {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.montserrat-x-bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

.rotation {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}