body {
	background-color: #3E4BCB;
}

nav {
	background-image: linear-gradient(to right, #2D0575, #4207AF);
	padding: 15px;
	box-shadow: 0px 5px 20px 0px;
}

nav a {
	color: #fff;
}

nav a:link {
	font-size: 160%;
	text-decoration: none;
}

nav a:visited {
	color: #fff;
	text-decoration: none;
}

nav a:active {
	color: #fff;
	text-decoration: none;
}

nav a.col-xs-offset-5:hover {
	color: #fff;
	text-decoration: none;
}

.links {
	padding-top: 15px;
	display: none;
}

div.links a {
	font-size: 100%;
}

nav img {
	height: 50px;
}

.montserrat-md {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.montserrat-x-bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

section {
	position: relative;
}

.rotation {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}

.do-display {
	display: inline !important;
}

.nav-bottom {
	padding-bottom: 0px;
}

.video {
	position: relative;
	bottom: 8px;
	box-shadow: 5px 6px 11px 0px #111;
}

h3 {
	font-size: 28px;
	color: #fff;
	line-height: 20px;
}

.social-icons {
	padding-top: 5%;
	padding-bottom: 5%;
	text-align: center;
}

.social-media {
	border-radius: 50%;
	background-color: white;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.social-media i {
	padding: 8px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #3E4BCB;
}

.bkg-img {
	padding-right: 0;
	padding-left: 0;
}

.bkg-img img {
	width: 100%;
}

@media (min-width: 768px) {
	nav img {
		height: 70px;
	}

	div.links a {
		font-size: 150%;
	}

	h3 {
		font-size: 37px;
		line-height: 26px;
	}

	.social-media {
		height: 65px;
		width: 65px;
	}

	.social-media i {
		padding: 10px 0 0 0;
		font-size: 42px;
	}
}

@media (min-width: 992px) {
	body {
		background-color: #3A05A4
	}

	.background {
		background-image: url("../img/canal-dupla-1920w.png");
		background-size: 100vw;
		background-repeat: no-repeat;
		height: 100vh;
	}

	.links {
		display: inline;
	}

	div.links a {
		font-size: 170%;
	}

	div.links a:hover {
		font-size: 180%;
	}

	.social-icons {
		text-align: left;
		padding-top: 10px;
	}

	.social-media {
		text-align: center;
	}

	.social-media i {
		color: #3905A4;
	}

	h3, .social-icons, .video {
		position: relative;
		top: 70px;
	}

	.first-heading {
		font-size: 45px;
		padding-bottom: 10px;
		color: #3905A4;
	}
}