/*body, html {
    overflow-x: hidden;
    overflow-y: hidden;
}*/

nav {
	background-image: linear-gradient(to right, #2D0575, #4207AF);
	padding: 15px;
	box-shadow: 0px 5px 20px 0px;
}

nav a {
	color: #fff;
}

nav .col-lg-offset-3 a {
	font-size: 160%;
}

nav a:link {
	font-size: 160%;
	text-decoration: none;
}

nav a.col-xs-offset-5:hover {
	color: #fff;
	text-decoration: none;
}

nav a.hidden-sm:hover {
	font-size: 180%;
}

nav a:visited {
	color: #fff;
	text-decoration: none;
}

nav a:active {
	color: #fff;
	text-decoration: none;
}

nav img {
	height: 50px;
}

nav i {
	position: relative;
	top: 22px;
}

.montserrat-md {
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

.montserrat-x-bold {
	font-family: 'Montserrat', sans-serif;
	font-weight: 800;
}

.rotation {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}

section {
	position: relative;
}

.my-dropdown {
	display: none;
	position: absolute;
	border: 1px solid #fff;
	border-radius: 4px;
	background-image: linear-gradient(to right, rgba(45, 5, 117, 0.7), rgba(66, 7, 175, 0.7));
	z-index: 1;
}

.my-dropdown a {
	color: #fff;
	display: block;
	font-size: 17px;
}

.do-display {
	display: inline-block !important;
}

.background {
    height: 100%;
    background-image: linear-gradient(35deg, #3A05A4, #3F82E1);
    z-index: -1;
}

.video {
	position: relative;
	bottom: 8px;
}

h3 {
	font-size: 28px;
	color: #fff;
	line-height: 20px;
}

.social-icons {
	padding-top: 5%;
	padding-bottom: 5%;
}

.social-media {
	border-radius: 50%;
	background-color: white;
	width: 50px;
	height: 50px;
	display: inline-block;
}

.social-media i {
	padding: 8px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: #3A16AC;
}